@import 'tailwindcss';

.page__background {
	position: fixed;
	inset: 0;
	background-image: url('../assets/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
	z-index: -1;
	pointer-events: none;
	filter: blur(3px);
}
